.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
input[type=text]:focus{
  box-shadow:1px 1px 5px 4px grey;
  border-color: white;
}
.gender:focus{
  box-shadow:1px 1px 5px 4px grey;
  border-color: white;
}
.email:focus{
  box-shadow:1px 1px 5px 4px grey;
  border-color: white;
}
.pass:focus{
  box-shadow:1px 1px 5px 4px grey;
  border-color: white;
}
.showpass:focus{
  box-shadow:1px 1px 5px 4px grey;
  border-color: white;
}
.text1:focus{
  border-color: white;
  box-shadow:1px 1px 5px 4px grey;
}
.text2:focus{
  border-color: white;
  box-shadow:1px 1px 5px 4px grey;
}
.search{
 width: 25%;
}
.search:focus{
  border-color: white;
  box-shadow:1px 1px 5px 4px grey;
}
.item:hover{
  border-color: white;
  box-shadow:1px 1px 5px 4px grey;
  transition: box-shadow 0.3s ease-in-out;
}
.card:hover{
  border-color: white;
  box-shadow:1px 1px 5px 4px grey;
  transition: box-shadow 0.3s ease-in-out;
}
.badge{
    position: absolute;
    right: 1px;
    top: 2px;
}
.gender{
  display: inline-block;
}
